.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}
.app-wrapper {
  /* display: flex;
  justify-content: space-around; */
}

.task-wrapper {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin-bottom: 15px;
  width: 100%;
}
.inputs {
  width: 30%;
  margin: 0 auto;
}

.inputs h3 {
  text-align: left;
}

.tasks {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 30px;
  /* position: relative; */
}
.task {
  width: 100%;
  padding: 15px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task h3 {
  text-align: left;
}
.task__content {
  display: flex;
  flex-direction: column;
  align-items: start;
}
